:root {
  /* COLORS */
  --color-bg-main: #12141a;

  --color-font-main: #FF9B50;

  --color-main--light: #A6B1E1;
  --color-main--dark: #112D4E;

  --color-main--attract: #FF2E63;

  /* SIZES */

  --size-header-height: 300px;
  --size-footer-height: 100px;

  --size-font-header-main: 38px;
  --size-font-header-second: 28px;

  --size-web-img: 420px;


  /* PADDINGS / MARGINS */

  --padding-section-default: 60px 0 100px 0;


  /* TIMINGS */

  --time-animation-duration: .3s;
}